<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

    <!--
        使用spring注解管理service，controller
        这里只使用controller
    -->
    <context:component-scan base-package="com.asgard.controller"></context:component-scan>

    <!--
      使用注解的映射器和适配器
     -->
    <!--  <mvc:annotation-driven></mvc:annotation-driven> -->


    <!--
          配置视图解析器
    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
        <property name="prefix" value="WEB-INF/jsp/"></property>
        <property name="suffix" value=".html"></property>
    </bean>

    <!-- html视图解析器 -->
    <!-- 注册转换器 -->
    <bean id="convertService"
          class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <!--<property name="converters">
            <list>
                <bean class="com.asgard.convert.Dateconvert"></bean>
            </list>
        </property>-->
    </bean>
    <mvc:annotation-driven conversion-service="convertService"></mvc:annotation-driven>


    <!-- 注册上传解析器 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize">
            <value>500000</value>
        </property>
    </bean>

    <!-- springmvc对于静态文件，我们需要特殊的设置 -->
    <!-- 过滤静态资源 -->
    <mvc:default-servlet-handler />

	 <!-- 配置拦截器 -->
		<!--<mvc:interceptors>
			<mvc:interceptor>
				<mvc:mapping path="/**"/>
				<bean class="com.cblue.intercepter.LoginInterceptor"></bean>
			</mvc:interceptor>
		</mvc:interceptors>-->





</beans>









































        
        