<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script src="/js/axios.js"></script>
    <script src="/js/pagination.js"></script>
    <link href="style/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->

    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/dcalendar.picker.js"></script>
    <link href="/style/dcalendar.picker.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <input name="key" v-model="key"><button @click="search">搜索</button>
    <button @click="doAdd">添加</button>
    <table class="table table-striped table-bordered">
        <tr>
            <th></th>
            <th>id</th>
            <th>名字</th>
            <th>密码</th>
            <th>性别</th>
            <th>生日</th>
            <th colspan="2">操作</th>
        </tr>
        <tr v-for="u in list">
            <td><input type="checkbox" :value="u.id" v-model="ids"></td>
            <td>{{u.id}}</td>
            <td>{{u.username}}</td>
            <td>{{u.password}}</td>
            <td>{{u.sex}}</td>
            <td>{{u.birthday|formatDate}}</td>
            <td><button @click="doUpdate">修改</button></td>
            <td><button @click="doDelete">删除</button></td>
        </tr>
    </table>
    
    <div class="text-right" style="text-align:center ">
        <navigation :pages="pages" :current.sync="current" @navPage="pageList"></navigation>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="form-group">
                    <label for="username">用户名</label>
                    <input type="text" class="form-control" id="username" name="username"
                           :value="user.username" v-model="user.username">
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input type="text" class="form-control" id="password" name="password" v-model="user.password">
                </div>
                <div class="form-group">
                    <label for>性别</label>
                    <label class="checkbox-inline">
                        <input type="radio" name="sex" v-model="user.sex" value="男" />男
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="sex" v-model="user.sex" value="女" />女
                    </label>
                </div>
                <div class="form-group">
                    <label for="birthday">生日</label>
                    <input class="form-control" id='mydatepicker' name="birthday"
                           :value="user.birthday|formatDate">
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" @click="addOrUpdate">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>
    
</div>
</body>
</html>
<script>
    var v=new Vue({
        el:"#app",
        data:{
            current:1,
            rows:2,
            pages:100,
            list:[],
            key:"",
            ids:[],
            user:{},
            id:0,
        },
        methods:{
            getPage:function () {
                console.log("page?page="+this.current+"&rows="+this.rows);
                axios.get("page?page="+this.current+"&rows="+this.rows+"&key="+this.key).then(function (response) {
                    v.list=response.data.list;
                    v.pages=response.data.pages;
                })
            },
            pageList:function (curPage) {
                this.current=curPage;
                this.getPage();
            },
            search:function () {
                console.log(this.key);
                this.getPage()
            },
            doAdd:function () {
                v.user={};
                console.log("==add==")
                $("#myModal").modal("show");
            },
            add:function () {
                var birthday = $("#mydatepicker").val();
                this.user.birthday=birthday;
                axios.post("insertUser",{"username":this.user.username,
                "password":this.user.password,"sex":this.user.sex,
                    "birthday":this.user.birthday}).then(function (response) {
                    if (response.data==true){
                        console.log("--add--")
                        v.user={};
                        v.getPage();
                        $("#myModal").modal("hide");
                    }
                })
            },
            doUpdate:function () {
                console.log("==update==")
                var id=this.ids[0];
                if (id!=null){
                    $("#myModal").modal("show");
                    axios.get("goUpdate?id="+id).then(function (response) {
                        v.user=response.data;
                    })
                } else{
                    alert("请先选择一条记录")
                }
            },
            update:function () {
                var birthday = $("#mydatepicker").val();
                this.user.birthday=birthday;
                axios.post("update",{"id":this.user.id,"username":this.user.username,
                    "password":this.user.password,"sex":this. user.sex,
                    "birthday":this.user.birthday}).then(function (response) {
                    if (response.data==true){
                        console.log("--update--")
                        v.user={};
                        v.getPage();
                        $("#myModal").modal("hide");
                        v.ids.length=0;
                    }
                })
            },
            addOrUpdate:function () {
                if (this.user.id!=null){
                    console.log("--update--")
                    this.update();
                } else{
                    console.log("--add--")
                    this.add();
                }
            },
            doDelete:function () {
                var id=this.ids.join(",");
                    axios.get("delete?ids="+id).then(function (response) {
                        v.getPage();
                })
            }
        },
        created:function () {
            this.getPage();
        },
        filters : {
            formatDate : function(time) {
                if (time != null && time != "") {
                    var date = new Date(time);
                    return date.getFullYear() + "-" + (date.getMonth() + 1)
                        + "-" + date.getDate();
                } else {
                    return "";
                }
            }
        },
    })
    $("#mydatepicker").dcalendarpicker({format:'yyyy-MM-dd'});
</script>